* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-left: -15px; */
    /* margin-right: -15px; */
}

.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-md-4,
.col-md-6,
.col-sm-6,
.col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

ul,
nav,
body,
h1,
h2,
h4,
h6,
p,
figure {
    margin: 0;
    padding: 0;
}

a {
    transition: all ease 0.5s;
}

.hidden {
    display: none !important;
}

.container {
    background-color: #fff;
    padding: 0px !important;
}


/* -------------------------------------- Start of header ----------------------------------------------- */

.parallax {
    background-image: url("./Image/simple-house-01.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax .parallax__header {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.parallax .parallax__header__inner {
    padding: 40px 50px;
}

.parallax .parallax__logo {
    display: inline-block;
    margin-right: 5px;
    /* margin-bottom: 25px; */
}

.parallax .parallax__textbox {
    display: inline-block;
    color: white;
}

.parallax .parallax__textbox__title {
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 5px;
    /* display: flex; */
}

.parallax .parallax__textbox__text {
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 0px;
    /* display: flex; */
}

.parallax__nav {
    margin-top: 30px;
}

.parallax__nav__ul {
    display: flex;
    justify-content: flex-end;
}

.parallax__nav__li {
    list-style: none;
    padding: 0px 25px;
    font-weight: bold;
}

.nav__link {
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
}

.nav__link.active,
.nav__link:hover {
    text-decoration: none;
    color: white;
    border-bottom: white 1px solid;
}


/* -------------------------------------- End of header ----------------------------------------------- */


/* -------------------------------------- Start of main ----------------------------------------------- */

.welcome-section {
    /* justify-content: center; */
    margin: 60px auto;
    max-width: 655px;
}

.welcome-section .section-title {
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: 400;
}

.menu {
    margin-bottom: 40px;
}

.menu__item {
    list-style: none;
    display: inline-block;
    margin: 7px;
    border: 1px solid #2F956D;
}

.menu__item__link {
    padding: 10px 30px;
    display: flex;
    color: #2F956D;
    background-color: transparent;
}

.menu__item__link.active,
.menu__item__link:hover {
    background-color: #2F956D;
    color: white;
    text-decoration: none;
}

.menu__gallery {
    margin-bottom: 80px;
}

.menu__gallery__page {
    max-width: 1120px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.menu__gallery__item {
    max-width: 270px;
}

.gallery__image {
    margin-bottom: 20px;
}

.gallery__title {
    font-size: 1.3rem;
    font-weight: 400;
    color: #1a6692;
    margin-bottom: 15px;
}

.gallery__description {
    margin-bottom: 20px;
    padding-right: 30px;
    font-size: 0.95rem;
}

.gallery__price {
    font-size: 1.25rem;
    color: #2F956D;
    margin-bottom: 60px;
}


/* -------------------------------------- End of main ----------------------------------------------- */


/* -------------------------------------- Start of footer ----------------------------------------------- */

.footer {
    padding: 25px 15px;
    margin-top: 40px;
}

.footer a {
    color: #626364;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
    color: #1A6692;
}